:root {
  --clr-neutral-100: #fff;
  --clr-neutral-200: #e5e5e5;
  --clr-neutral-300: #7d7d7d;
  --clr-neutral-400: #000;
  --fw-normal: 400;
  --fw-bold: 700;
  --ff-main: "Libre Baskerville", serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-main);
}

.container {
  max-width: 85rem;
  margin-inline: auto;
  padding: 0 1em;
}

.header {
  margin-bottom: 3em;
}
.header .container {
  padding: 3em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-neutral-200);
}
.header__btn {
  background: none;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  color: var(--clr-neutral-300);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  transition: color 170ms ease-out;
}
.header__btn:hover {
  color: var(--clr-neutral-400);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-bottom: 5em;
}
.gallery .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: space-between;
}
.gallery .card {
  position: relative;
  color: var(--clr-neutral-100);
  cursor: pointer;
  position: relative;
  position: relative;
}
.gallery .card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8715861345) 100%);
  transition: opacity 170ms ease-in-out;
}
.gallery .card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.8715861345) 100%);
  opacity: 0;
  transition: opacity 170ms ease-in-out;
}
.gallery .card:hover::after {
  opacity: 0;
}
.gallery .card:hover::before {
  opacity: 1;
}
.gallery .card__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 2em 2.5em 2em;
  z-index: 2;
}
.gallery .card__name {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.gallery .card__artist {
  font-size: 0.9rem;
}
