:root {
  --clr-neutral-100: #fff;
  --clr-neutral-200: #e5e5e5;
  --clr-neutral-300: #7d7d7d;
  --clr-neutral-400: #000;
  --fw-normal: 400;
  --fw-bold: 700;
  --ff-main: "Libre Baskerville", serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-main);
}

.container {
  max-width: 85rem;
  margin-inline: auto;
  padding-left: 2em;
  padding-right: 2em;
}
@media (max-width: 425px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.header {
  margin-bottom: 3em;
}
.header .container {
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-neutral-200);
}
@media (max-width: 425px) {
  .header .container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
.header__btn {
  background: none;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  color: var(--clr-neutral-300);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  transition: color 170ms ease-out;
}
.header__btn:hover {
  color: var(--clr-neutral-400);
}
@media (max-width: 425px) {
  .header__btn {
    font-size: 0.7rem;
  }
}
@media (max-width: 425px) {
  .header__logo {
    width: 70%;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  margin-bottom: 5em;
}
.gallery .column {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: space-between;
  align-items: center;
}
.gallery .card {
  position: relative;
  color: var(--clr-neutral-100);
  cursor: pointer;
  position: relative;
  position: relative;
}
.gallery .card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8715861345) 100%);
  transition: opacity 170ms ease-in-out;
}
.gallery .card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.8715861345) 100%);
  opacity: 0;
  transition: opacity 170ms ease-in-out;
}
.gallery .card:hover::after {
  opacity: 0;
}
.gallery .card:hover::before {
  opacity: 1;
}
.gallery .card__info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 2em 2.5em 2em;
  z-index: 2;
}
.gallery .card__name {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.gallery .card__artist {
  font-size: 0.9rem;
}

.modal {
  display: none;
}
.modal-container {
  display: grid;
  grid-template-columns: 1fr 0.8fr 1fr;
  column-gap: 2em;
  margin-bottom: 10em;
}
@media (max-width: 1024px) {
  .modal-container {
    grid-template-columns: 1fr 0.8fr;
    row-gap: 10em;
  }
}
@media (max-width: 768px) {
  .modal-container {
    grid-template-columns: 1fr 0.5fr;
  }
}
@media (max-width: 425px) {
  .modal-container {
    grid-template-columns: 1fr;
    row-gap: 3.5em;
  }
}
.modal__img-container {
  position: relative;
}
.modal__img-container::after {
  position: absolute;
  content: "";
  background-color: var(--clr-neutral-100);
  top: 0;
  right: 0;
  width: 15%;
  height: 40%;
  z-index: 2;
}
@media (max-width: 425px) {
  .modal__img-container::after {
    width: 45%;
    height: 10%;
    top: 90%;
    bottom: 2em;
    left: 0;
  }
}
.modal__btn {
  position: absolute;
  bottom: 1.5em;
  left: 1.5em;
  border: 0;
  outline: 0;
  padding: 1.25em 2em;
  color: var(--clr-neutral-200);
  background-color: rgba(0, 0, 0, 0.705);
  font-weight: var(--fw-bold);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1.65px;
  display: inline-flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  transition: background-color 170ms ease-in-out;
}
.modal__btn:hover {
  background-color: #fff4;
}
@media (max-width: 425px) {
  .modal__btn {
    bottom: initial;
    left: initial;
    top: 1.5em;
    right: 1.5em;
  }
}
.modal__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: capitalize;
}
.modal__name {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 0.35em;
}
@media (max-width: 425px) {
  .modal__name {
    font-size: 2.75rem;
  }
}
.modal__artist {
  color: var(--clr-neutral-300);
  font-weight: var(--fw-normal);
  font-size: 0.95rem;
}
@media (max-width: 425px) {
  .modal__artist {
    margin-bottom: 1em;
  }
}
.modal__artist-img {
  margin: auto 0 0 3em;
  transform: translateY(50%);
}
@media (max-width: 1024px) {
  .modal__artist-img {
    margin: 0;
  }
}
@media (max-width: 425px) {
  .modal__artist-img {
    transform: translateY(0);
  }
}
.modal__content {
  align-self: end;
  color: var(--clr-neutral-300);
  position: relative;
}
@media (max-width: 1024px) {
  .modal__content {
    place-self: center;
  }
}
.modal__date {
  position: absolute;
  top: -10%;
  right: -10%;
  font-size: 12rem;
  line-height: 0;
  z-index: -2;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-200);
}
@media (max-width: 1024px) {
  .modal__date {
    top: 0;
  }
}
@media (max-width: 425px) {
  .modal__date {
    font-size: 7rem;
    top: -10%;
    right: -8%;
  }
}
.modal__text {
  font-size: 0.9rem;
  font-weight: var(--fw-bold);
  margin-bottom: 4em;
  line-height: 1.85;
  max-width: 33ch;
}
@media (max-width: 768px) {
  .modal__text {
    max-width: initial;
  }
}
.modal__link {
  font-size: 0.7rem;
  color: inherit;
  font-weight: var(--fw-bold);
}

.progress {
  margin-bottom: 3em;
}
.progress__container {
  width: 100%;
  height: 2px;
  background-color: var(--clr-neutral-300);
  margin-bottom: 2em;
}
.progress__bar {
  background-color: var(--clr-neutral-400);
  height: 100%;
}
.progress__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress__name {
  font-size: 0.85rem;
  font-weight: var(--fw-bold);
}
.progress__artist {
  font-size: 0.6rem;
  color: var(--clr-neutral-300);
}
.progress__btn {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0009;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
}
.image__close {
  margin-bottom: 1em;
  background: none;
  text-transform: uppercase;
  color: var(--clr-neutral-100);
  border: 0;
  cursor: pointer;
  transition: color 170ms ease-in-out;
}
.image__close:hover {
  color: var(--clr-neutral-300);
}
