.header {
	margin-bottom: 3em;

	.container {
		padding-top: 3em;
		padding-bottom: 3em;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--clr-neutral-200);

		@include mq(small) {
			padding-top: 2em;
			padding-bottom: 2em;
		}
	}

	&__btn {
		background: none;
		border: 0;
		outline: 0;
		text-transform: uppercase;
		color: var(--clr-neutral-300);
		cursor: pointer;
		font-size: 0.8rem;
		font-weight: var(--fw-bold);
		letter-spacing: 2px;
		transition: color 170ms ease-out;

		&:hover {
			color: var(--clr-neutral-400);
		}

		@include mq(small) {
			font-size: 0.7rem;
		}
	}

	&__logo {
		@include mq(small) {
			width: 70%;
		}
	}
}
