$colors: (
	'neutral': (
		'100': #fff,
		'200': #e5e5e5,
		'300': #7d7d7d,
		'400': #000,
	),
);

$font-weights: (
	'normal': 400,
	'bold': 700,
);

$breakpoints: (
	'medium': 65em,
	'small': 40em,
);

$font-families: (
	'main': Libre Baskerville,
);
