$colors: (
	'neutral': (
		'100': #fff,
		'200': #e5e5e5,
		'300': #7d7d7d,
		'400': #000,
	),
);

$font-weights: (
	'normal': 400,
	'bold': 700,
);

$breakpoints: (
	'medium': 768px,
	'small': 425px,
	'large': 1024px,
);

$font-families: (
	'main': Libre Baskerville,
);
